<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>BrandServlet</servlet-name>
        <servlet-class>com.emmaoyoita.eshop.controllers.BrandServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.emmaoyoita.eshop.controllers.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.emmaoyoita.eshop.controllers.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>com.emmaoyoita.eshop.controllers.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductCategoryServlet</servlet-name>
        <servlet-class>com.emmaoyoita.eshop.controllers.ProductCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.emmaoyoita.eshop.controllers.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrandsServlet</servlet-name>
        <servlet-class>com.emmaoyoita.eshop.controllers.BrandsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductCategoriesServlet</servlet-name>
        <servlet-class>com.emmaoyoita.eshop.controllers.ProductCategoriesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductsServlet</servlet-name>
        <servlet-class>com.emmaoyoita.eshop.controllers.ProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsersServlet</servlet-name>
        <servlet-class>com.emmaoyoita.eshop.controllers.UsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StoreFrontServlet</servlet-name>
        <servlet-class>com.emmaoyoita.eshop.controllers.StoreFrontServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopServlet</servlet-name>
        <servlet-class>com.emmaoyoita.eshop.controllers.ShopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShoppingCartServlet</servlet-name>
        <servlet-class>com.emmaoyoita.eshop.controllers.ShoppingCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailsServlet</servlet-name>
        <servlet-class>com.emmaoyoita.eshop.controllers.ProductDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>com.emmaoyoita.eshop.controllers.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutCompleteServlet</servlet-name>
        <servlet-class>com.emmaoyoita.eshop.controllers.CheckoutCompleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerLoginServlet</servlet-name>
        <servlet-class>com.emmaoyoita.eshop.controllers.CustomerLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerAccountServlet</servlet-name>
        <servlet-class>com.emmaoyoita.eshop.controllers.CustomerAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WishlistServlet</servlet-name>
        <servlet-class>com.emmaoyoita.eshop.controllers.WishlistServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomersServlet</servlet-name>
        <servlet-class>com.emmaoyoita.eshop.controllers.CustomersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvoicesServlet</servlet-name>
        <servlet-class>com.emmaoyoita.eshop.controllers.InvoicesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BrandServlet</servlet-name>
        <url-pattern>/admin/brand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/admin/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/admin/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/admin/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductCategoryServlet</servlet-name>
        <url-pattern>/admin/product-category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/admin/user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrandsServlet</servlet-name>
        <url-pattern>/admin/brands</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductCategoriesServlet</servlet-name>
        <url-pattern>/admin/product-categories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductsServlet</servlet-name>
        <url-pattern>/admin/products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersServlet</servlet-name>
        <url-pattern>/admin/users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StoreFrontServlet</servlet-name>
        <url-pattern>/store-front</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopServlet</servlet-name>
        <url-pattern>/shop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShoppingCartServlet</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailsServlet</servlet-name>
        <url-pattern>/product-details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutCompleteServlet</servlet-name>
        <url-pattern>/checkout-complete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerLoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerAccountServlet</servlet-name>
        <url-pattern>/customer-account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WishlistServlet</servlet-name>
        <url-pattern>/wishlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomersServlet</servlet-name>
        <url-pattern>/admin/customers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvoicesServlet</servlet-name>
        <url-pattern>/admin/invoices</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
